body {  font-family: "‚l‚r ‚t‚hƒSƒVƒbƒN", "Osaka"; font-size: 10.5px; text-decoration: none; text-align: left; background-color: #FFFFFF; ; color: #333333}
a:link{ color:#666666;text-decoration:none}
a:visit{ color:#330000;text-decoration:none}
a:active{ color:#FFFF00;text-decoration:none}
a:hover{ color:#FFFF00;text-decoration:none}
a:foucus{ color:#993399;background-color:#FFFFCC;text-decoration:none}
	}
a:visit{ color:#330000;text-decoration:none
}
a:foucus{ color:#993399;background-color:#FFFFCC;text-decoration:none}
	}